name: Checks

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:

  fmt:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: dsherret/rust-toolchain-file@v1
      - run: cargo fmt --check
      - run: cargo build --release
      - uses: dprint/check@v2.2

  cspell:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: streetsidesoftware/cspell-action@v5
        with:
          incremental_files_only: false
          config: ./cspell.json
          files: |
            **/*.rs
            **/*.md
            **/*.vi
            **/*.iv

  tree-sitter:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: hustcer/setup-nu@v3
        with:
          version: "0.105.1"
      - uses: tree-sitter/setup-action@v2
        with:
          install-lib: false
      - run: nu test.nu
        working-directory: lsp/tree-sitter-vine
