name: Site

on:
  push:
    branches: main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3

      - uses: nixbuild/nix-quick-install-action@v32
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Cache Nix store
        uses: nix-community/cache-nix-action@v6.1.3
        with:
          primary-key: nix-${{ inputs.runner }}-${{ hashFiles('**/*.nix','**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ inputs.runner }}-
          gc-max-store-size-linux: 1G
          purge: true
          purge-prefixes: nix-${{ inputs.runner }}-

      - run: nix build .#site -L

      - uses: actions/configure-pages@v3

      - uses: actions/upload-pages-artifact@v3
        with:
          path: "result"
      
      - id: deployment
        uses: actions/deploy-pages@v4
